.about{
    padding: 30px 0;
}
.about .title{
    font-size: 38px;
    font-weight: 700;
}
.about p{
    padding-top: 0px;
    /* text-align: justify; */
}
.about-content{
    display: flex;
}
.about-left{
    margin-bottom: 0;
}
.about-content{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 0;
}
/* about */
.about-left{
    margin-bottom: 4rem;
    height: auto;
    overflow: hidden;
    max-height: 750px;
}